.invalid::-webkit-input-placeholder {
    color: red;
}
.invalid:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.invalid::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.invalid:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}
